@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: grid;
  grid-template-columns: 80px auto;
}

.box {
  width: 200px;
  height: 200px;
  background: lightgray;
  transition: all 0.2s;
}

.blue {
  background: skyblue;
}

.rotate {
  transform: rotate(45deg);
}

.radius {
  border-radius: 50%;
}
